################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.git
/Frontend/.env
/Frontend/node_modules
/Frontend/.DS_Store