.full-width-table {
  width: 100%;
}

.small-table{
  overflow-x: scroll !important;
}

.coin {
  width: 50px;
  height: auto;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.mat-tab-group {
  margin-bottom: 48px;
}